html{
    background-color: #F7EEC5;
}
body{
    font-family: 'Verdana';
}
h1, h2{
    text-align: center;
    margin: 10px;
}
h2 img{
    width: 20vw;
    height: auto;
}

.row1{
    text-align: center;
}

.row1 a{
    margin: 20px;
}
img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
